<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Anger in Caps</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/Users/urielchavez/dev/22-homework/TannedAlbino/MicroblogAPI/public/css/reset.css">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/Users/urielchavez/dev/22-homework/TannedAlbino/MicroblogAPI/public/css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/Users/urielchavez/dev/22-homework/TannedAlbino/MicroblogAPI/public/base.js"></script>
  </head>
  <body class="scheme-blue">
  <nav>
  Welcome to the frustration blog, where you can vent to nobody who cares.
  </nav>
  <section class="interface scheme-white">
   <formid="form" action="action_page.php">
      <h1>What would you like to talk about?</h1>
    
      <input id='blog-input' type="text" autofocus="true">
      <br>
      <input id="button" type="submit" value="Submit">
    </form>
  </section>
  
  <section class="frustrations">
    <div class="frustration">
      <h3 class="title scheme-pink">
        Yell silently
      </h3>
      <p class="content scheme-yellow">
        Mongod is not theGod, just aGod </p>
    </div>
    
  </section>  
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          
        </div>
      </div>
    </div>
  </body>
</html>
